.cartas {
    transition: transform 0.3s ease;
    margin-left: 15px;
}

.cartas:hover {
    transform: translateY(-30px);
    box-shadow: 0px 4px 10px rgba(0, 229, 255, 0.6);
    border-radius: 10px;
    border: 3px solid rgb(0, 229, 255);
}