.body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mesa {
    position: absolute;
    width: 900px;
    height: 600px;
    background-image: url('../img/FundoMesa.webp');
    border: 10px solid #654321;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
}

.jogador {
    position: absolute;
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.5);
}

.jogador.top {
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.jogador.left {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.jogador.right {
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.jogador.bottom {
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.mesa-centro {
    width: 200px;
    height: 100px;
    margin: auto;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.carta {
    width: 50px;
    height: 70px;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
}
